<!doctype html>
<head>
    <meta charset="utf-8">
    <link type="text/css" href="text.css" rel="stylesheet">
    <script type="text/javascript" src="vue.js"></script>
    <script>
        window.onload=function(){
            new Vue({
                el:'#box',
                data:{
                    myData:[],
                    username:'',
                    comments:'',
                   
                },
                methods:{
                    add:function(){
                        // this.username=this.username.replace(' ','');
                        // this.comments=this.comments.replace(' ','');
                        if(this.username.replace(/\s+/g,"")&&this.comments.replace(/\s+/g,""))
                        {
                                this.myData.push({
                                name:this.username,
                                comments:this.comments
                            });

                            this.username='';
                            this.comments='';
                        }
                    },
                   
                }
            });
        };
    </script>
    <title>test</title> 
</head>
<body>
    <div class="container" id="box">
        <p>请输入你的评论</p>
        <form>
            <lable for="username">你的姓名</lable>
            <input type="text" id="username" class="forms" placeholder="your name"
            v-model="username">
            
            <label for="comments">你的评论</label>
            <textarea id="comments" class="forms" v-model="comments"></textarea>
            
            <input type="button" value="Submit" class="sub" v-on:click="add()">
        </form>
        <p>评论区</p>
        <table class="table table-bordered table-hover">
        <ul class="text-center" v-for="it in myData">
            <li>{{it.name}} 说 {{it.comments}}</li>
        </ul>
        <table>
    </div>
</body>
</html>